@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$color-gray: #dcdce6;
$color-background: #f0f5f5;
$color-input-text: #333;
$color-button-text: #fff;
$color-button: #e02041;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: $color-background;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
    font: 400 14px Roboto, sans-serif;
}
